@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #686de0;
  color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  min-height: 100vh;
}

.grid-left {
  border-right: 1px solid #dff9fb;
}

.grid-left h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.grid-left ul {
  display: flex;
  flex-direction: column;
}

.grid-left ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.grid-left ul li a:hover {
  background-color: #4834d4;
}

.grid-right {
  padding: 20px;
}

.grid-right form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.grid-right form input {
  border: none;
  outline: none;
  margin-bottom: 10px;
}

.grid-right form input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #4834d4;
}

.grid-right form input[type="submit"] {
  background-color: #f9ca24;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.grid-right form input[type="submit"]:hover {
  background-color: #f0932b;
}

.weather {
  margin-top: 16px;
}

.weather-main {
  display: flex;
  align-items: center;
}

.weather-body {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
